{{ partial "head_home.html" . }}
  <body style="color: rgb(255, 255, 255); background: #2196F3;">
    <div class="hero-image">
      <section class="hero is-success is-fullheight" style="background: rgba(33, 150, 243, 0.2);">
        <!-- Hero head: will stick at the top -->
        <div class="hero-head">
          <header class="navbar">
            <div class="container">
              <div class="navbar-end">
                <a class="navbar-item is-active" href="/th/properties" style="position: fixed; right: 0;">
                  <i class="far fa-thumbs-up fa-spin"></i> &nbsp;Look for Your Home
                </a>
              </div>
            </div>
          </header>
        </div>

        <div class="hero-body">
          <div class="container has-text-centered">
            <h1 class="title" style="font-size: 4rem;">
              {{ .Title }}
            </h1>
            <h2 class="subtitle" style="font-size: 2rem;">
              We provide you the best
            </h2>
          </div>
        </div>
      </section>
    </div>
    
    <div class="columns is-desktop media-base">
      <div class="column">
        <img src="https://www.pakutaso.com/shared/img/thumb/KAZU-bgftdrtfgh_TP_V.jpg">
      </div>
      <div class="column padding">
        <div class="content">
          <h2 style="color: rgb(255, 255, 255);">Suneikii Properties Best Home/Office for you</h2>
          <p>
            BEST FIT! We are committed in providing home/office most suitable for each customer. Our services include sales/rent of condominium, apartment, house, office, business sites and land etc. Please feel free to contact us.
          </p>
        </div>
      </div>
    </div>
    <div class="columns is-desktop media-base">
      <div class="column padding">
        <div class="content">
          <h2 style="color: rgb(255, 255, 255);">Suneikii Properties Quick and Quality Customer Service</h2>
          <p>
            @Suneikii Properties, customer satisfaction is our priority! Our goal is quick and quality response so let’s get millennial and tweet it, line it or videocall... to get the message across and fastest...
          </p>
        </div>
      </div>
      <div class="column">
        <img src="https://www.pakutaso.com/shared/img/thumb/PAK85_telshinagaramemowosuru1292_TP_V.jpg">
      </div>
    </div>
    <div class="columns is-desktop media-base">
      <div class="column">
        <img src="https://www.pakutaso.com/shared/img/thumb/gorisanIMGL9690_TP_V.jpg">
      </div>
      <div class="column padding">
        <div class="content">
          <h2 style="color: rgb(255, 255, 255);">Suneikii Properties Focus both on Customer First and Developer First</h2>
          <p>
            The spirit of “customer first” is equally important as “developer first”. To get synergy between business and technology, we utilize AI/IoT development to accelerate our use of app...
          </p>
        </div>
      </div>
    </div>
    <div class="columns is-desktop media-base">
      <div class="column padding">
        <div class="content">
          <h2 style="color: rgb(255, 255, 255);">Suneikii Properties Focus on Global Market by Cloud</h2>
          <p>
            We are expanding globally! From Bangkok and beyond Suneikii Properties move forward through cloud technology and other user friendly services...
          </p>
        </div>
      </div>
      <div class="column">
        <img src="https://www.pakutaso.com/shared/img/thumb/ZUB_DSC_0347_TP_V.jpg">
      </div>
    </div>
    <style>
      .media-base {
        color: #ffffff;
        background: #2196F3;
        margin: 0;
        padding: 0;
      }
      .padding {
        padding: 40px;
      }
      .media-header {
        color: #ffffff;
      }
      .hero-image {
        background-image: url(https://www.pakutaso.com/shared/img/thumb/DSCF8497_TP_V.jpg);
        background-size: cover;
        background-position: center;
        height: 100vh;
        width: 100vw;
      }
      h2 {
        letter-spacing: 1px;
        line-height: 10px;
      }
    </style>
